<div id="PhoneBook" class="container-fluid">
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand">PhoneBook Application</a>
			<ul class="nav">
				<li><a href="test/jasmine" target="_blank">Specs</a></li>
				<li><a href="https://github.com/benjamin-michel/phonebook" target="_blank">GitHub Account</a></li>
			</ul>
	</div>
	</div>
	<div class="content row-fluid">
		<div class="left-pannel span6 well">
			<form class="contact-form form-inline"></form>
			<div class="contact-list"></div>
		</div>
		<div class="right-pannel span6 well">
			<form class="phone-form form-inline"></form>
			<div class="phone-list"></div>
		</div>
	</div>
</div>                             
