<div class="contact-item">
	<div class="display">
		<span class="contact-item-first_name"><%= first_name %></span>
		<span class="contact-item-last_name"><%= last_name %></span>
		<a class="edit-item btn btn-small" href="#"><i class="icon-edit"></i></a>
		<a class="remove-item btn btn-small" href="#"><i class="icon-remove"></i></a>
	</div>
	<div class="edit">
		<input class="first_name-input" type="text" value="<%= first_name %>"/>
		<input class="last_name-input" type="text" value="<%= last_name %>"/>
		<a class="save-item btn btn-small" href="#"><i class="icon-ok"></i></a>
	</div>
</div>
