/*@import "h5bp.css";*/
@import "bootstrap.css";


/* Items */

ul li{
	font-size: large;
	color: #494949;
}

ul li:hover{
	color: #000000;
}

ul li div .display .phone-arrow{
	float: right;
  color: #C3C3C3;
}

.selected-row{
	font-size: xx-large;
	font-weight: bold;
}

ul li:hover div .display .phone-arrow{
	color: #888888;
}

ul li div .display{
	display: block;
	padding: 1em;
}

ul li.editing div .display{
	display: none;
}

ul li div .edit {
	display: none;
	padding: 1em;
}

ul li.editing div .edit {
	display: block;
}



